<!DOCTYPE html>
<html>
  <header>
    <%- include('header'); %>
  </header>
  <head>
    <%- include('../../partials/head'); %>
  </head>

  <h1  style="text-align: center; padding-top: 10px; padding-bottom: 10px;">Welcome to my portfolio!</h1>

  <!-- <em>Visitor: <%= typeof visitor != 'undefined' ? visitor : 'visitors' %></em> -->

  <body class="container">
    <main>
      <div class="row">
        <div class="col-7">
          <div class="jumbotron">
            <h1 class="display-4">Hello, <%= typeof visitor != 'undefined' ? visitor : 'visitors' %>!</h1>
            <hr class="my-4">
            <p class="lead">
              Welcome to my portfolio website! I'm Tsz Him Ng, also known as Lucas. As an international student from Hong Kong, I'm currently pursuing my studies in Game Programming at Centennial College in Toronto. Through this website, I invite you to explore my projects, witness my growth, and join me on this exciting adventure of becoming a skilled and accomplished game developer.
            </p>
          </div>
        </div>
        <div class="col-5">
          <figure class="figure">
            <img src="Image/pong.gif" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">A game named 'PONG' I've been working on lately for my homework.</figcaption>
          </figure>
        </div>
      </div>
    </main>

  </body>
  <footer>
    <%- include('../../partials/footer') %>
  </footer>
</html>
